@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Radio+Canada:wght@300;500&family=Righteous&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
    
}

body {
    font-size: 100%;
    background: black;
      
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2.0rem;

}

.cabecalho-imagem {
    height: 4.0rem;
    
}

.cabecalho-menu {
    display: flex;
    gap: 1.0rem 3.0rem;
}

.cabecalho-menu-item {
    font-family: 'Merriweather Sans', sans-serif;
    color: #DCF64B;
    font-weight: 7.0rem;
    font-size: 1.6rem;
     
}

.conteudo {
    border-top: 0.4px solid #FFFFFF;
    margin-bottom: 4.8rem;
    
   
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    background: url(/img/pexels.jpg);
}

.conteudo-principal-escrito {
    display: flex;
    gap: 4.0rem;
    flex-direction: column;
    
}

.conteudo-principal-escrito-titulo {
    display: flex;
    font-family: 'Righteous', cursive;
    font-weight: 350;
    font-size: 70px;
    padding-left: 200px;
    color:#DCF64B;
}

.conteudo-principal-escrito-subtitulo {
    display: flex;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #FFFFFF;
    padding-left: 270px;
    
}

.conteudo-principal-escrito-texto {
    display: flex;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 300 px;
    font-size: 20px;
    color: #FFFFFF;
    align-items: center;
    padding-left: 340px;
    
}

.minha-foto {
    display: flex;
    padding-left: 300px;
   
}

.conteudo-imagens {
    display: flex;
    gap: 4.0rem;
    flex-direction: row;
    justify-content: center;
    padding-right: 600px;
    margin-top: auto
}


.conteudo-secundario {
    display: flex;
    gap: 4.0rem;
    flex-direction: column;
    
}
.conteudo-secundario-titulo {
    display: flex;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 350 px;
    font-size: 55px;
    color:#DCF64B;
    margin-left: 2px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Radio Canada', sans-serif;
    font-weight: 50px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: justify-all;
    margin-top: 10px;
    margin-right: 2%;
    margin-left: 5px;   
    text-justify: auto;
}


.conteudo-projetos {
    display: flex;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 350 px;
    font-size: 55px;
    color:#DCF64B;
    margin-top: 100px;
    margin-left: 2px;
}

.projetos-case {
    display: flex;
    align-items: stretch;
}

.formulario {
    padding-bottom: 40px;
}

.text-form{
    display: flex;
    font-family: 'Merriweather Sans', sans-serif;
    color: #DCF64B;
    font-weight: 7.0rem;
    font-size: 100px;
}

.formulario .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.formulario .container .titulo-formulario {
    display: flex;
    justify-content: space-between;
    align-items: ;
}


.formulario .container .formulario-contato {
    border-radius: 2.0rem;
    background-color:#1E1E1E;
    padding: 10px 20px;
    border: none;
    margin-top: 17px;
    font-weight: 700px;

}

.formulario .container .titulo-formulario h2 {
margin-bottom: 24px;
}

.formulario .container .formulario-contato{
    width: 100%;
    max-width: 486px;
}

.formulario .container .formulario-contato .formulario-conteudo input[type="text"]{
    margin-bottom: 31px;    
}

.formulario .container .formulario-contato .formulario-conteudo textarea {
    margin-bottom: 0;
}

.botao-formulario { 
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.formulario .container .formulario-contato button {
    border-radius: 24px;
    background-color: #1E1E1E;
    padding: 1rem 2.4rem;
    border: none;
    margin-top: 17px;
    font-weight: 700;
    
}

.contato{
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    padding: 95px 70px 60px 0px;
    font-family: 'Merriweather Sans', sans-serif;
    align-items: flex-start;
}

.box-contato{
    margin-left: 17rem;
    padding-top: 2.7rem;
    display: flex;
    flex-direction: column;
}

.contato h2{
    font-size: 50px;
    color: #DCF64B;
    margin: 0;
    line-height: 3.6rem;
    padding-top: 1rem;


}

.link-contato{
    display: flex;
    gap: 30px;
    padding-left: 1rem;
}

.link-contato img{
    width: 25px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 390px;
    width: 390px;
    padding: 20px;
    margin-right: 100px;
    

}

form input{
    color: #DCF64B;
    display: block;
    width: 365px;
    height: 46px;
    border: none;
    border-radius: 6px;
    background-color: #343434;
    margin-bottom: 20px;
    padding-left: 10px;
    outline: none;
}

form textarea {
    background-color: #343434;
    width: 365px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 10px 0px 0px 10px;
    resize: none;
    color: #DCF64B;
    margin-bottom: 30px;
}

.m-deixar {
    font-family: 'Radio Canada', sans-serif;
    

}

button {
    display: flex;
    width: 215px;
    height: 45px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #DCF64B;
    font-size: 20px;
    cursor: pointer;
}

.rodape {
    background-color: #1E1E1E;
}

.rodape-texto {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 20px;
    font-size: 15px;
    color: #FFFFFF;
    
}