@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Radio+Canada:wght@300;500&family=Righteous&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
    
}

body {
    font-size: 100%;
    background: black;
   
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2.0rem;

}

.cabecalho-imagem {
    height: 4.0rem;
    
}

.cabecalho-menu {
    display: flex;
    gap: 1.0rem 3.0rem;
}

.cabecalho-menu-item {
    font-family: 'Merriweather Sans', sans-serif;
    color: #DCF64B;
    font-weight: 7.0rem;
    font-size: 1.6rem;
     
}

.conteudo {
    border-top: 0.4px solid #FFFFFF;
    margin-bottom: 4.8rem;
    
    
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 4.0rem;

}

.conteudo-principal-escrito-titulo {
    display: flex;
    font-family: 'Righteous', cursive;
    font-weight: 400px;
    font-size: 64px;
    color:#FFFFFF;
}